{% extends 'layout.html' %}

{% block title %}ChainSmith - GenesisForge - Edit Genesis{% endblock %}

{% block content %}

<h2>GENESISFORGE</h2>
{% if snapup %}
<div class="alert alert-success alert-dismissible fade show" role="alert" style="background: #161B22">
    Genesis snapshot uploaded successfully. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
</div>
{% endif %}

<h3>EDIT GENESIS</h3>
    <form action="/genesisforge/edit/{{ id }}" method="post" style="position: relative;width:100%;vertical-align: top;" class="fuelform">
        <div>
        <table style="vertical-align: text-top;">
            <tr>
                <td>SUBCHAIN ID</td>
                <td style="padding-left: 12px"> {{ subchain_id }}</td>
            </tr>
            <tr>
                <td>NAME</td>
                <td><input type="text" name="genesis_name" placeholder="{{ genesis_name }}" value="{{ genesis_name }}" required></td>
            </tr>
            <tr id="chain_registrar_row">
                <td>CHAIN REGISTRAR</td>
                <td><input type="text" name="chain_registrar" placeholder="{{ chain_registrar }}" value="{{ chain_registrar }}" required></td>
            </tr>
            <tr id="tfuel_token_bank_row">
                <td>TFUEL TOKEN BANK</td>
                <td><input type="text" name="tfuel_token_bank" placeholder="{{ tfuel_token_bank }}" value="{{ tfuel_token_bank }}" required></td>
            </tr>
            <tr id="tnt20_token_bank_row">
                <td>TNT20 TOKEN BANK</td>
                <td><input type="text" name="tnt20_token_bank" placeholder="{{ tnt20_token_bank }}" value="{{ tnt20_token_bank }}" required></td>
            </tr>
            <tr id="tnt721_token_bank_row">
                <td>TNT721 TOKEN BANK</td>
                <td><input type="text" name="tnt721_token_bank" placeholder="{{ tnt721_token_bank }}" value="{{ tnt721_token_bank }}" required></td>
            </tr>
            <tr id="tnt1155_token_bank_row">
                <td>TNT1155 TOKEN BANK</td>
                <td><input type="text" name="tnt1155_token_bank" placeholder="{{ tnt1155_token_bank }}" value="{{ tnt1155_token_bank }}" required></td>
            </tr>
            <tr id="balance_checker_row">
                <td>BALANCE CHECKER</td>
                <td><input type="text" name="balance_checker" placeholder="{{ balance_checker }}" value="{{ balance_checker }}" required></td>
            </tr>
            <tr id="genesis_blockhash_row">
                <td>GENESIS BLOCKHASH</td>
                <td><input type="text" name="genesis_blockhash" placeholder="{{ genesis_blockhash }}" value="{{ genesis_blockhash }}" required></td>
            </tr>
            <tr id="upload_genesis_snapshot_row">
                <td></td>
                <td style="padding-left: 12px;padding-bottom: 12px;"><a class="meta-link" href="/genesisforge/edit/{{ id }}/upload">Upload Genesis Snapshot</a></td>
            </tr>

            <tr>
                <td></td>
                <td><input type="checkbox" name="enable" checked> Activate (Enable)
                    <br/>
                </td>
            </tr>
        </table>
        </div>
        <div style="float: right; position: absolute;bottom: -50px;"><button type="cancel">Cancel</button> <button type="submit">Save</button></div>
    </form>
<script>

    const cancelButton = document.querySelector('button[type=cancel]');

    cancelButton.addEventListener('click', () => {

        window.history.back();
    });

    // genesis is the most critical block in the chain and must be protected at all costs, once set like any ledger it must remain immutable
    //
    window.onload = function() {

        // chain_registrar allowed to update after due to being tethered to mainchain
        //
        var inputs = ['tfuel_token_bank', 'tnt20_token_bank', 'tnt721_token_bank', 'tnt1155_token_bank', 'balance_checker', 'genesis_blockhash'];

        inputs.forEach(function(inputName) {

            var input = document.getElementsByName(inputName)[0];

            if (input.value.length > 39) {

                var rowId = inputName + "_row";
                var row = document.getElementById(rowId);

                row.style.display = 'none';
            }
        });
    }
</script>
{% endblock %}