{% extends 'layout.html' %}

{% block title %}ChainSmith - KeyForge - Add Keystore{% endblock %}

{% block content %}

<h2>KEYFORGE</h2>
<h3>ADD KEYSTORE</h3>
    <form action="/keystore/add" method="post" style="position: relative;width:100%;vertical-align: top;" class="fuelform">
        <div>
        <table style="vertical-align: text-top;">
            <tr>
                <td>NAME</td>
                <td><input type="text" name="keystore_name" id="keystore_name" placeholder="Primary Subchain Validator Node Keystore" maxlength="32" required></td>
            </tr>
            <tr>
                <td>KEYSTORE</td>
                <td style="text-align: left"><input type="text" name="keystore_data" id="keystore_data" placeholder="{...}" required></td>
            </tr>
            <tr>
            <td></td>
                <td style="text-align:left;">

                    <input type="file" id="fileInput">
                    <br>
                </td>
                <td style="text-align: left;"></td>
            </tr>
            <tr>
                <td>TAGS</td>
                <td>
                    <input type="checkbox" name="privatenet"> Privatenet
                    <input type="checkbox" name="testnet"> Testnet
                    <input type="checkbox" name="mainnet"> Mainnet
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="checkbox" name="validator"> Validator Node
                    <input type="checkbox" name="walletnode"> Wallet Node
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="checkbox" name="admin_mainchain"> Mainchain Admin
                    <input type="checkbox" name="admin_subchain"> Subchain Admin
                    <br/>
                </td>
            </tr>
            <tr>
                <td>KEYPASS</td>
                <td><input type="password" name="keystore_password" placeholder="..." required></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="checkbox" name="enable" checked> Activate (Enable)
                    <br/>
                </td>
            </tr>
        </table>
        </div>
        <div style="float: right; position: absolute;bottom: -50px;"><button type="cancel">Cancel</button> <button type="submit">Save</button></div>
    </form>
<script>
    const keystoreInput = document.getElementById('keystore_data');
    const fileInput = document.getElementById('fileInput');
    const cancelButton = document.querySelector('button[type=cancel]');

    function validateConfiguration() {

        if (adminKeystoreId.selectedIndex > 0) {

            submitButton.style.backgroundColor = '';
            submitButton.disabled = false;
        } else {

            submitButton.style.backgroundColor = 'darkgray';
            submitButton.disabled = true;
        }

        // Validate keystore_data
        try {

            JSON.parse(keystoreInput.value);
            keystoreInput.classList.remove('invalid'); // Remove invalid class if present
        } catch (error) {

            submitButton.style.backgroundColor = 'darkgray';
            submitButton.disabled = true;
            keystoreInput.classList.add('invalid'); // Add invalid class for styling or indication
        }
    }

    keystoreInput.addEventListener('change', validateConfiguration);

    cancelButton.addEventListener('click', () => {

        window.history.back();
    });

    keystoreInput.addEventListener('click', () => {

        fileInput.click();
    });

    fileInput.addEventListener('change', (event) => {

        const file = event.target.files[0];
        const reader = new FileReader();

        reader.onload = () => {

            if (isValidJson(reader.result)) {

                keystoreInput.value = reader.result;
            } else {

                alert('The provided file is not valid JSON.');
            }
        };

        reader.readAsText(file);
    });

    function isValidJson(jsonString) {

        try {

            JSON.parse(jsonString);
        } catch (error) {

            return false;
        }

        return true;
    }
</script>
{% endblock %}