{% extends 'layout.html' %}

{% block title %}ChainSmith - KeyForge{% endblock %}

{% block content %}

<h2>KEYFORGE</h2>

{% if added %}
<div class="alert alert-success alert-dismissible fade show" role="alert" style="background: #161B22">
    Keystore added successfully. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
</div>
{% else %}

<div class="alert alert-success alert-dismissible fade show" role="alert" style="background: #161B22">
    Theta Metachain attributes governance and administrative functions to private keys. To uphold security measures, it is advised to have at least four distinct private keys (comprising of a keystore and password), with each key representing a distinct role. Please be informed that FuelFoundry will never request access to your keys. As a security best practice, refrain from sharing any information recorded in your Keystore Vault. If you find yourself unsure or have any questions about these procedures, please do not hesitate to contact us. Our team is available to assist and guide you through the process.
</div>

{% endif %}

<h3>KEYSTORES &mdash; ACTIVE &nbsp;<a style="color:rgb(42, 184, 230);" href="/keystore/add">+</a></h3>
<div class="metastore-container"></div>

<h3>KEYSTORES &mdash; PROVISIONED &nbsp;<a style="color:rgb(42, 184, 230);" href="/keystore/add">+</a></h3>
<div class="metastore-container-disabled"></div>

<script>
    fetchKeystores('.metastore-container', 'enabled');
    fetchKeystores('.metastore-container-disabled', 'disabled');

    async function fetchKeystores(containerSelector, keystore_state) {
        try {
            const container = document.querySelector(containerSelector);
            const response = await fetch('/keystore/keystores/' + keystore_state);
            const keystores = await response.json();

            container.innerHTML = keystores
                .map(({ id, name, keystore, tags, last_state, last_update }) => {
                    const keystoreData = JSON.parse(keystore);
                    const keystoreAddress = keystoreData.address;
                    const tagData = JSON.parse(tags);
                    const privatenet = tagData.privatenet === 1 ? 'Privatenet' : '';
                    const testnet = tagData.testnet === 1 ? 'Testnet' : '';
                    const mainnet = tagData.mainnet === 1 ? 'Mainnet' : '';
                    const walletnode = tagData.walletnode === 1 ? 'Walletnode' : '';
                    const validator = tagData.validator === 1 ? 'Validator' : '';
                    const adminMainchain = tagData.admin_mainchain === 1 ? 'Admin(Mainchain)' : '';
                    const adminSubchain = tagData.admin_subchain === 1 ? 'Admin(Subchain)' : '';

                    console.log("last_state:",last_state);
                    return `

            <div class="metastore-childnode">
              <div class="metadiv-relative">
                <div class="meta-ident">
                <p id="state${id}">
            ${last_state == 10 ? 'CONFIGURATION COMPLETE' : ''}
            ${last_state == -2 ? 'INVALID PASSWORD OR KEYSTORE' : ''}

            </p><p>${id}</p></div>
                <p style="color:#fe5413">${name}</p>
                <table>

                  <tr>
                    <td>WALLET ADDRESS</td>
                    <td><a class="meta-link" target="_blank" href="https://testnet-explorer.thetatoken.org/account/${keystoreAddress}">0x${keystoreAddress}</a></td>
                  </tr>
                  <tr>
                    <td>TAGS</td>
                    <td>
                      ${privatenet}
                      ${testnet} ${mainnet}
                      ${walletnode} ${validator}
                      ${adminMainchain}
                      ${adminSubchain}
                    </td>
                  </tr>
                <tr>
                    <td>LAST UPDATE </td>
                    <td>${last_update} UTC</td>
                </tr>
                </table>
                <div class="metabuttons-container">

              <a href="/keystore/edit/${id}" title="Start Node"> <button><i class="fas fa-edit"></i></button></a>

          </div><i class="fa-solid fa-key"></i> &nbsp; ${last_state == -2 ? '<div class="state-error">ERROR</div>' : ''}
              </div>
            </div>

          <br/>
        `;
                })
                .join('');
        } catch (error) {
            console.error(error);
        }
    }


</script>
{% endblock %}
