{% extends 'layout.html' %}

{% block title %}ChainSmith - KeyForge - Edit Keystore{% endblock %}

{% block content %}

<h2>KEYFORGE</h2>
<h3>EDIT KEYSTORE</h3>
    <form action="/keystore/edit/{{ id }}" method="post" style="position: relative;width:100%;vertical-align: top;" class="fuelform">
        <div>
        <table style="vertical-align: text-top;">
            <tr>
                <td>NAME</td>
                <td><input type="text" name="keystore_name" id="keystore_name" placeholder="{{ keystore_name }}" maxlength="32" value="{{ keystore_name }}" required></td>
            </tr>
            <tr>
                <td>KEYPASS</td>
                <td><input type="password" name="keystore_password" placeholder="leave blank to skip updating password"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="checkbox" name="enable" {{ enableStr }}> Activate (Enable)
                    <br/>
                </td>
            </tr>
        </table>
        </div>
        <div style="float: right; position: absolute;bottom: -50px;"><button type="cancel">Cancel</button> <button type="submit">Save</button></div>
    </form>
<script>

    const cancelButton = document.querySelector('button[type=cancel]');

    cancelButton.addEventListener('click', () => {

        window.history.back();
    });

</script>
{% endblock %}