{% extends 'layout.html' %}

{% block title %}ChainSmith - NodeForge - Edit Node{% endblock %}

{% block content %}

<h2>NODE MANAGER</h2>

<h3>EDIT NODE</h3>
    <form action="/nodemanager/edit/{{ id }}" method="post" style="position: relative;width:100%;vertical-align: top;" class="fuelform">
        <div>
        <table style="vertical-align: text-top;">
            <tr>
                <td>NAME</td>
                <td><input type="text" name="node_name" placeholder="{{name}}" value="{{name}}" required></td>
            </tr>
            <tr>
                <td>TYPE</td>
                <td><select id="node_type" name="node_type">
                    <option value="0">Select Type...</option>
                    <option value="1">Theta Mainchain Walletnode (+RPC)</option>
                    <option value="2">Theta Subchain Validator (+RPC)</option>
                </select></td>
            </tr>
            <tr>
                <td>NETWORK &nbsp; &nbsp;</td>
                <td><select id="mainchain" name="mainchain">
                    <option value="0">Select Network...</option>
                    <option value="mainnet">Theta Mainnet (keystores: {{ keystoreTotalCountMainnet }}) </option>
                    <option value="testnet">Theta Testnet (keystores: {{ keystoreTotalCountTestnet }}) </option>
                    <option value="privatenet">Theta Privatenet (keystores: {{ keystoreTotalCountPrivatenet }}) </option>
                </select></td>
            </tr>
            <tr id="validator_row">
                <td>KEYSTORE&nbsp;</td>
                <td>
                    <select id="keystore_id" name="keystore_id">
                        <option value="{{ keystore_id }}">{{ keystore_address }}</option>
                    </select>
                </td>
            </tr>
            <tr id="genesis_row">
                <td>GENESIS&nbsp;</td>
                <td>
                    <select id="genesis_id" name="genesis_id">
                        <option value="0">Select Genesis...</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>ACCESS &nbsp;</td>
                <td><select id="is_local" name="is_local">
                    <option value="0">Remote/Local (via SSH)</option>
                </select></td>
            </tr>
            <tr id="host_row">
                <td>HOST</td>
                <td><input type="text" name="host" value="{{ host }}" required></td>
            </tr>
            <tr id="username_row">
                <td>SSH USER</td>
                <td><input type="text" name="ssh_user" value="{{ ssh_user }}" required></td>
            </tr>
            <tr id="password_row">
                <td>SSH PASS</td>
                <td><input type="password" name="ssh_pass" placeholder="leave blank to skip updating password"></td>
            </tr>
            <tr>
                <td>CONFIGURATION OVERRIDE &nbsp; &nbsp;</td>
                <td><select id="last_state" name="last_state">
                    <option value="{{ last_state }}">Keep Existing Configuration (no change)</option>
                    <option value="-1">Reset (this will enable redeployment)</option>
                    <option value="10">Configuration Complete (manual deployment)</option>
                </select></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="checkbox" name="enable" {{enableStr}}> Activate (Enable)
                    <br/>
                </td>
            </tr>
        </table>
        </div>
        <div style="float: right; position: absolute;bottom: -50px;"><button type="cancel">Cancel</button> <button type="submit">Save</button></div>
    </form>
<script>

    document.addEventListener('DOMContentLoaded', async (event) => {  // Note the async here

        document.getElementById('node_type').value = "{{ type }}";
        document.getElementById('mainchain').value = "{{ mainchain }}";

        if (document.getElementById('node_type').value == 2) {

            genesisRow.style.display = '';
            await handleNodeTypeChange();
            document.getElementById('genesis_id').value = "{{ genesis_id }}";

            //let select = document.getElementById('genesis_id');

            setTimeout(function() {

                let select = document.getElementById('genesis_id');

                for(let i = 0; i < select.options.length; i++) {
                    if(select.options[i].value == '{{ genesis_id }}') {
                        select.selectedIndex = i;
                        break;
                    }
                }
            }, 250);
        }
    });

    const fileInput = document.getElementById('fileInput');
    const form = document.querySelector('form');
    const cancelButton = document.querySelector('button[type=cancel]');
    const isLocalSelect = document.getElementById('is_local');
    const nodeTypeSelect = document.getElementById('node_type');
    const genesisRow = document.getElementById('genesis_row');
    const mainchainSelectElement = document.getElementById('mainchain');

    genesisRow.style.display = 'none';

    cancelButton.addEventListener('click', () => {

        window.history.back();
    });

    function handleNodeTypeChange() {

        if (nodeTypeSelect.value > 0) {

            fetch('http://localhost:3000/genesisforge/genesis/enabled')
                .then(response => response.json())
                .then(data => {

                    let select = document.getElementById('genesis_id');
                    select.innerHTML = '<select id="genesis_id" name="genesis_id"><option value="0">Select Genesis...</option></select>'; // reset the dropdown

                    for (let item of data) {

                        let mainchain = item.mainchain;

                        if (mainchain === mainchainSelectElement.value) {

                            let option1 = document.createElement('option');
                            option1.value = item.id;
                            option1.text = item.name + ' (' + item.genesis_blockhash.substring(0, 3) + '...' + item.genesis_blockhash.slice(-4) + ')';
                            select.appendChild(option1);
                        }
                    }
                })
                .catch(error => console.error(error));

            if (this.value == 2) {

                genesisRow.style.display = '';
            }
        } else {

            genesisRow.style.display = 'none';
        }
    }

    nodeTypeSelect.addEventListener('change', handleNodeTypeChange);

    isLocalSelect.addEventListener('change', function() {

        if (this.value === '0') {

            // show
            hostRow.style.display = '';
            usernameRow.style.display = '';
            passwordRow.style.display = '';
        } else {

            // hide
            hostRow.style.display = 'none';
            usernameRow.style.display = 'none';
            passwordRow.style.display = 'none';
        }
    });

    document.getElementById('mainchain').addEventListener('change', function() {

        const mainchainValue = this.value;

        fetch('http://localhost:3000/keystore/keystores/enabled')
            .then(response => response.json())
            .then(data => {

                let select = document.getElementById('keystore_id');

                select.innerHTML = '<option value="0">Select Keystore...</option>'; // reset the dropdown

                for(let item of data) {

                    let keystore = JSON.parse(item.keystore); // parse keystore

                    let tags = JSON.parse(item.tags); // parse tags

                    if(tags[mainchainValue] === 1) { // checking if the selected mainchain is 1 in tags

                        let option1 = document.createElement('option');
                        option1.value = item.id;
                        option1.text = item.name + ' (0x' + keystore.address.substring(0, 3) + '...' + keystore.address.slice(-4) + ')';

                        select.appendChild(option1);
                    }
                }
            })
            .catch(error => console.error(error));

        handleNodeTypeChange();
    });

</script>
{% endblock %}
